.set {
  margin: 1em;
  padding: 1em 1em 0 1em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
}

.set .set-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.set .set-header span {
  flex: auto;
  display: inline-block;
}

.set .set-header button {
  background-color: darkred;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.set .set-header button > * {
  pointer-events: none;
}

.set .set-header button:hover {
  background-color: red;
}

.set .set-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.add-btn {
  width: 136.5px;
  height: 138.55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: green;
  border: 1px dashed green;
  box-sizing: border-box;
  border-radius: 0.25em;
  cursor: pointer;
  transition: all 200ms;
  margin: 0 1em 1em 0;
}

.add-btn > * {
  pointer-events: none;
}

.add-btn span {
  font-size: 3em;
  line-height: 1em;
}

.add-btn:hover {
  background-color: green;
  color: white;
}
